/* #button {
    background-color: #22252a;
    border-radius: 50px;
    color: var(--primary-color);
    z-index: 1;
    transition: color 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
    text-align: justify;
    font-weight: bold;
}
#button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 50px;
    z-index: -1;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

#button:hover::after {
    width: 100%;
    height: 100%;
}

#button:hover {
    color: var(--white-color);
} */



/* button {
    position: relative;
    padding: 12px 35px !important;
    background: var(--primary-color) !important;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    /* border: 3px solid #fec195; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 0 #fec1958c; */
    /* transition: all 0.3s ease-in-out; */
    /* cursor: pointer; */
    /* padding: 10px 15px; */
  /* } */
  
  /* .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent !important;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }  */
  
#button {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

#button:hover {
  color: var(--white-color);
  border: none;
}

#button::before, #button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border: none;
  height: 100%;
  /* border: 26px solid; */
  /* border-top-color: var(--primary-color); */
  /* border-bottom-color: var(--primary-color); */
  /* border-radius: 100%; */
  transform: scaleX(0);
  z-index: -100;
  transition: 0.3s;
  background-color: var(--primary-color);
}
#button::before {
  left: 0;
  /* border-right-color: transparent; */
  transform-origin: left;
}
#button::after {
  left: 50%;
  /* border-left-color: transparent; */
  transform-origin: right;
}

#button:hover::before,
#button:hover::after {
  transform: scaleX(1);
}